# ================================
# OS / General Temporary Files
# ================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.cache/
build/
migrate_working_dir/
venv/

# ================================
# Editor / IDE Settings
# ================================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Atom
.atom/

# Python virtual environments
.venv/
venv/


# VS Code (uncomment if needed)
# .vscode/

# Project-specific metadata
.history
.svn/
.swiftpm/
.build/
.buildlog/

# ================================
# Flutter / Dart
# ================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# ================================
# Android
# ================================
/android/app/debug
/android/app/profile
/android/app/release

# Gradle
.gradle/
local.properties

# ================================
# iOS / macOS
# ================================
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

# ================================
# Node.js
# ================================
node_modules/

# Environment Variables
# ================================
.env
.env.local
.env.*

