# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Model files
*.pt
*.pth
*.h5
*.pkl

# Allow committing the specific classifier checkpoint
!app/models/trained_models/efficientnet_b3_fish_classifier_checkpoint.pth
!app/models/trained_models/efficientnet_b3_fish_classifier.pth


# Training data and temporary files
training_progress/
stop_training_signal.txt
training_plots.png

# IDE specific files
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Local development settings
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/ 

venv/

lib/.env

.env