SUPABASE_URL=https://rdiwfttfxxpenrcxyfuv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkaXdmdHRmeHhwZW5yY3h5ZnV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDE0NjM1MywiZXhwIjoyMDY1NzIyMzUzfQ.s3bFGhsUl9YR5AEE355mCe_kFokgl0lQxM_vir9QIfU
JWT_SECRET=hwN4aMMgVfQwaKKrZpnR/QxHpUopDdnjJRtI3H+BMufGOKB056gIsHd2JE
NODE_ENV=development
PORT=5001
